<div class="login-form">
    <h2>{{title}}</h2>
    <form action="{{action}}" method="POST">
        <input type="text" name="login" placeholder="Login" required>
        <input type="password" name="password" placeholder="Password" required>
        <div class="buttons">
            <button type="submit" class="login-btn">{{submitButton}}</button>
            <button type="button" class="create-account">{{createAccountButton}}</button>
        </div>
    </form>
</div>
